@model Rootobject

@{
    ViewData["Title"] = "Global";
}

<h2>Global Covid19 Statistics (source: api.covid19api.com)</h2>

<input type="button" onclick="tableToExcel('testTable', 'W3C Example Table')" value="Export to Excel">

<table class="table table-striped" id="testTable" style="width:100%">
    <thead class="thead-dark">
        <tr>
            <th>
                Zemlja
            </th>
            <th>
                ZemljaKod
            </th>
            <th>
                Novozarazenih
            </th>
            <th>
                UkupnoRegistrovanih
            </th>
            <th>
               Novopreminulih
            </th>
            <th>
                UkupnoPreminulih
            </th>
            <th>
                NovoOporavljenih
            </th>
            <th>
                UkupnoOporavljenih
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Countries)
{
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Zemlja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZemljaKod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Novozarazenih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UkupnoRegistrovanih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Novopreminulih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UkupnoPreminulih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NovoOporavljenih)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.UkupnoOporavljenih)
            </td>

        </tr>
}
    </tbody>
</table>


<script type="text/javascript">
    var tableToExcel = (function () {
        var uri = 'data:application/vnd.ms-excel;base64,'
            , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--><meta http-equiv="content-type" content="text/plain; charset=UTF-8"/></head><body><table>{table}</table></body></html>'
            , base64 = function (s) { return window.btoa(unescape(encodeURIComponent(s))) }
            , format = function (s, c) { return s.replace(/{(\w+)}/g, function (m, p) { return c[p]; }) }
        return function (table, name) {
            if (!table.nodeType) table = document.getElementById(table)
            var ctx = { worksheet: name || 'Worksheet', table: table.innerHTML }
            window.location.href = uri + base64(format(template, ctx))
        }
    })()
</script>

